@import "tailwindcss";
@layer base {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  ul,
  ol {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  img,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  textarea,
  select {
    font: inherit;
    color: inherit;
    background: none;
    border: none;
    outline: none;
  }

  button {
    font: inherit;
    color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-component:#1c1d22;
  --color-element:#1f2229;

  --color-text:#E7E7E7;
  --color-text-dark:#9898A0;

  --color-primary: #1b1c20;
  --color-primary-dark:#15161a;

  --color-border-default:#1e1f23;
  --color-light-border:#414149;

  --shadow-component: 0px 4px 4px rgba(0, 0, 0, 0.25);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@utility bg-component-gradient {
  background-image: linear-gradient(180deg, #1C1D22 0%, #18191E 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.section {
  display: flex;
  max-width: 1536px;
  padding: 0 15px;
  width: 100%;
  margin:0 auto;
}
.container {
  display: flex;
  margin:0 auto;
  max-width: 1440px;
  padding:0 32px;
  height: 100%;
}